body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: var(--gray);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* от goit с реакта  */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
}

:root {
    --blue: #007F95;
    --white: #f4f4f4;
    --navy_light: #8EAAD8;
    --bff_light: #CFE7EB;
    --active_bff: #A6D4DD;
    --hover_bff: #83C0CA;
    --basic_transtion: 0.7s ease 0s;
    --navy: #51526C;
    --gray: #222831;
}

header {
    background-color: var(--blue);
    border-radius: 0 0 20px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 36px;
}

.header svg {
    max-width: 120px;
    max-height: 120px;

    fill: var(--navy_light);
    transition: fill var(--basic_transtion);
}

.header svg:hover {
    fill: var(--hover_bff);
}

h1 {
    font-size: 42px;
}

.profile_info {
    font-size: 24px;
    font-weight: 600;
    color: var(--white);

    display: flex;
    align-items: center;
}

.profile_info_item:last-child  {
    display: block;

    max-width: 70px;
    max-height: 70px;

    margin: 0 0 0 12px;
}

.profile_info_item:last-child::after {
    content: "";
    display: block;

    position: relative;
    top: -129px;
    left:  -12px;
    z-index: 0;

    background-color: var(--navy_light);

    width: 68px;
    height: 68px;

    margin: 0 0 0 12px;

    border-radius: 100%;
}

.profile_info_item:last-child svg {
    position: relative;
    top: -5px;
    left: -5.5px;
    z-index: 1;

    max-width: 74px;
}


main {
    margin: 42px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 2fr repeat(3, 0);
    grid-template-rows: 1fr repeat(4, 0);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.class_section {
    padding: 0 36px 42px 36px;
}

.class_section h1 {
    font-size: 42px;
}

.class_list {
    background-color: var(--bff_light);

    min-width: 370px;

    border-radius: 20px;

    padding: 16px;
}

.class_list ul {
    min-height: 280px;

    max-height: 520px;
    
    margin: 0 0 16px 0;

    overflow-y: auto;
}

.add_button {
    display: block;

    background-color: var(--active_bff);

    width: 100px;

    padding: 16px 40px 16px 39px;

    border-radius: 40px;

    margin: 0 auto;

    transition: background-color  var(--basic_transtion);
}

.add_button svg {
    max-width: 24px;
    max-height: 24px;

    stroke: var(--navy);
}

.add_button:hover {
    background-color: var(--hover_bff);
}

.close {
    padding: 12px;

    width: 60px;
}

.close svg {
    max-width: 20px;
    max-height: 20px;
    transform: rotate(45deg);
    stroke: var(--navy);

    transition: stroke, transform var(--basic_transtion);
}

.close svg:hover {
    stroke: var(--blue);
    transform: rotate(228deg);
}

.class_item {
    background-color: var(--active_bff);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 20px;

    padding: 12px 20px;
}

.class_item  h3 {
    font-size: 32px;
    font-weight: 600;
}

.class_item span {
    font-size: 20px;
    font-weight: 400;
    color: var(--navy);
}

.class_item:not(:last-child) {
    margin: 0 0 8px 0;
}

.class_item div {
    display: flex;
}

.pop-up_background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00000075;
    backdrop-filter: blur(3px);

    height: 100vh;
    width: 100%;
}

.pop-up_container {
    background-color: var(--white);

    border: solid 4px var(--active_bff);
    border-radius: 20px;

    width: 580px;
    height: 720px;
}

.hidden {
    display: none;
}

#deleteClassButton svg {
    margin: 0 8px 0 0;

    fill: var(--navy);

    width: 24px;
    height: 24px;

    transition: fill var(--basic_transtion);
}

#deleteClassButton svg:hover {
    fill: var(--gray);
}

.list {
    background-color: var(--bff_light);
    
    min-width: 370px;

    border-radius: 20px;
    
    padding: 16px;
}

.list ul  {
    max-height: 520px;
    
    /* margin: 0 0 16px 0;

    overflow-y: auto; */
}

.student {
    background-color: var(--navy_light);
}

.total_students {
    font-weight: 500;
    font-size: 19px;
}

.students_list {
    background-color: var(--active_bff);
    
    max-width: 380px;

    padding: 12px;

    border-radius: 20px;
}